@import "../../../../../scss/stylesheet.scss";

.webx {
    .screen-device-mobile {
        .x-vertical {
            .x-button {
                width: 100%;
            }
            .x-button .x-button-title {
                text-align: center;
            }
        }
    }
    .x-vertical {
        @include vertical-list();
        &.x-sorter-disable-paddings .x-vertical-children {
            margin-bottom: 0!important;
        }
    }
}