@import "@webx-ui/utils/optional.scss";
@import "./left-panel.scss";
@import "./right-panel.scss";

.webx {
    &.screen-device-tablet {
        .desktop.notes {
            grid-template-columns: 240px 1fr;
        }
    }

    &.screen-device-desktop {
        .desktop.notes {
            grid-template-columns: 320px 1fr;
        }
    }

    .index {
        height: 100vh;
        
        .mount-transition {
            min-height: 100%;
            display: flex;
            flex-direction: column;
        }
        .editor-x-block {
            flex: 1 1 auto;
        }

        .empty-note {
            flex: 1 1 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            p {
                font-size: 32px!important;
            }
        }

    }

    .desktop.notes {
        min-height: 100%;
    }

    @include left-panel;
    @include right-panel;
}