@mixin left-panel {
    .sorted-list {
        min-height: 100%;
        display: flex;
        flex-direction: column;
    }
    
    .search-box {
        .x-block {
            display: grid;
            grid-template-columns: 1fr $point*10;
            height: 40px;
            padding: 0!important;
            overflow: hidden;
            .x-text-field {
                background: none;
                box-shadow: none;
                padding: $point $point*2 $point $point*3;
            }
            .x-button {
                margin: $point;
            }
        }
        margin-bottom: $point*2;
    }

    .note-list {
        flex: 1 1 auto;
        margin-bottom: $point*2;
        .note-list-block {
            display: grid;
            grid-template-columns: 1fr $point*8;

            &:not(:last-child) {
                margin-bottom: $point*2;
            }
            .note-item-wrapper {
                margin-bottom: $point * 2;  
            }
            .removing-area {
                margin-left: 44px;
            }

            .note-item {
                user-select: none;
                cursor: pointer;
                border-radius: 8px;
                &:hover {
                    background: var(--card-hover-background);
                }
        
                .note-item-name {
                    line-height: 24px;
                    font-weight: 600;
                    font-size: 24px;
                    padding: 8px 8px 0px 8px;
                    box-sizing: border-box;
                    word-break: break-all;
                }
        
                .note-item-descr {
                    height: 28px;
                    line-height: 20px;
                    font-size: 20px;
                    padding: 0px 8px 8px 8px;
                    box-sizing: border-box;
                }
            }
        }
    }

    .no-notes {
        flex: 1 1 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0.5;
        user-select: none;
    }

    .note-list-toolbar {
        display: grid;
        grid-template-columns: 1fr $point*8;
        gap: $point;
        height: 40px;
        box-shadow: none;
    }
}