@import "../../../../../scss/stylesheet.scss";
@import "../../../../../scss/box-shadows.scss";

.webx {
    .x-dropdown {
        .x-check-box {
            width: 100%;
            margin: 0!important;
        }
        .x-check-box-title {
            text-align: left!important;
        }
    }
    
    .x-check-box {
        display: flex;
        align-items: center;
        border-radius: $point;
        user-select: none;
        cursor: pointer;
        height: var(--x-button-height);
        padding: $point;
        box-sizing: border-box;
        transition: 0.1s;
            --x-check-box-icon: var(--x-button-background-hover);
            --x-check-box-text: var(--color);

        .x-check-box-icon {
            display: flex;
            justify-content: center;
            align-items: center;

            cursor: pointer;
            width: calc(var(--x-button-height) - $point * 4);
            height: calc(var(--x-button-height) - $point * 4);
            border: 2px solid var(--x-field-icon);
            color: var(--x-field-icon);
            padding: $point;
            border-radius: $point;
        }
        &:not(.marked) .x-check-box-icon svg {
            display: none;
        }
        .x-check-box-title {
            text-align: center;
            flex: 1 1 auto;
            width: max-content;
            padding-top: $point * 2;
            padding-bottom: $point * 2;
            font-size: 20px;
            color: var(--color);
            &:first-child {
                padding-left: $point * 2;
            }
            &:last-child {
                padding-right: $point * 2;
            }
        }

        .x-check-box-element {
            margin-left: $point;
            margin-right: $point;
            &:first-child {
                margin-left: 0;
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
    
    .x-list .x-check-box {
        margin-bottom: 0;
    }
}