@import "./stylesheet.scss";

.webx {
    .form-block {
        transition: 0.1s;
        &.visible {
            opacity: 1;
            transform: translateX(0px);
        }
        &:not(.visible) {
            opacity: 0;
            transform: translateX(-24px);
        }
    }
    .index {
        max-width: 1024px;
        width: 100%;
        min-height: 100vh;
        padding: $point * 2;
        box-sizing: border-box;
        margin: 0 auto;
        &.desktop {
            display: flex;
            .settings-menu {
                width: 320px;
                margin-right: $point * 2;
            }
            .sorted-list {
                width: 320px;
                margin-right: $point * 2;
            }
            .form-block {
                width: calc(100% - 320px - $point*2);
                display: flex;
                flex-direction: column;
            }
        }
    }
    .search-box {
        position: sticky;
        top: 8px;
        z-index: 50;
        border-radius: 8px;
        background:  var(--background);
        .x-block {
            display: flex;
            margin-bottom: $point * 2;
            --x-button-background: none;
            --x-button-background-hover: none;
            .x-field {
                --x-field-background: none;
                --x-field-background-hover: none;
                box-shadow: none!important;
                width: calc(100% - var(--x-button-height))!important;
            }
        }

    }
    .editor-toolbar {
        position: sticky;
        display: flex;
        top: 8px;
        margin-bottom: 8px;
        z-index: 100;
        --x-button-background-hover: var(--san-marino2)!important;
        --x-button-icon: var(--san-marino2)!important;
        .x-dropdown {
            width: fit-content;
        }
        .x-dropdown .x-dropdown-children{
            --x-button-background-hover: var(--san-marino2)!important;
            --x-button-icon: var(--san-marino2)!important;
        }
    }
    
    .editor-state {
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--color);
        height: 100%;
        p {
            font-size: 32px;
        }
    }
    .empty-note {
        display: flex;
        flex: 1 1 auto;
        align-items: center;
        justify-content: center;
        color: var(--color);
        p {
            font-size: 24px;
        }
    }
    .no-notes {
        color: var(--color);
        height: calc(100% - 44px * 2 - $point * 4);
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: $point * 2;
        p {
            font-size: 32px;
        }
        opacity: 0.5;
    }
    .note-list {
        height: calc(100% - 44px * 2 - $point * 4);
        margin-bottom: 8px;
    }
    .note-list-toolbar {
        display: flex;
        justify-content: space-between;
        position: sticky;
        bottom: 8px;
        .x-dropdown {
            width: fit-content;
        }
    }
    .editor-x-block {
        padding-bottom: 36px!important;
        overflow: hidden;
    }

    .dynamic-div {
        -webkit-transition: max-height 0.1s; 
        -moz-transition: max-height 0.1s; 
        -ms-transition: max-height 0.1s; 
        -o-transition: max-height 0.1s; 
        transition: max-height 0.1s;  
        height: auto;
    }

    .note-block {
        transition: 0.05s;
    }
    .screen-device-mobile {
        .note-item-block {
            padding: 8px 0;
        }
    }
    .note-item-block {
        display: flex;
        justify-content: space-between;
        background: var(--card-background);
        border-radius: $point;
        --x-field-text: var(--color);
        &.editing {
            align-items: center;
            padding: 2px 0;
            border: 1px solid var(--card-hover-background);
            margin-bottom: 4px;
            .dragging-buttons {
                display: flex;
                flex-direction: column;
                --x-button-height: 28px!important;
                width: 28px;
            }
        }
        &:not(:hover):not(.editing){
            .x-field-icon {
                opacity: 0!important;
            }
            .x-button-icon {
                opacity: 0!important;
            }
        }
    }
    .note-title {
        padding: 24px 8px 12px 8px!important;
        width: calc(100% - var(--x-button-height));
        font-size: 32px!important;
        font-weight: 600;
        --x-field-background: none!important;
        --x-field-background-hover: none!important;
    }
    .note-paragraph {
        --x-field-background: none!important;
        --x-field-background-hover: none!important;
        width: calc(100% - var(--x-button-height));
        padding: 0 8px!important;
        &.p-bold {
            font-weight: 600;
        }
        &.p-italic {
            font-style: italic;
        }
    }
    .note-task {
        display: flex;
        width: calc(100% - var(--x-button-height));
        .x-field {
            --x-field-background: none!important;
            --x-field-background-hover: none!important;
            align-items:flex-start;
            width: calc(100% - var(--x-button-height));
        }
    }
    .note-citata {
        width: calc(100% - var(--x-button-height));
        border-left: 2px solid var(--x-field-icon);
        margin: 8px 0 16px 8px!important;
        padding-left: 8px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        .x-field {
            --x-field-background: none!important;
            --x-field-background-hover: none!important;
            font-family: 'Times New Roman', Times, serif!important;
        }
        .note-citata-text {
            width: 100%;
            padding: 4px 8px!important;
            align-items:flex-start;
            font-style: italic;
        }
        .note-citata-author {
            width: 256px;
            font-style: italic;
        }
    }
    .note-many-dots {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 0 16px;
        .note-many-dots-dot {
            width: $point;
            height: $point;
            border-radius: 100%;
            background: var(--color);
            opacity: 0.5;
            margin: 0 $point;
        }
    }
    .note-hr {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 0 16px;

        div {
            width: 100%;
            height: 2px;
            border-radius: 2px;
            background: var(--color);
        }
    }
    .note-item-wrapper {
        margin-bottom: $point * 2;  
    }
    .removing-area {
        margin-left: 44px;
    }
    .note-item {
        user-select: none;
        cursor: pointer;
        border-radius: 8px;
        &:hover {
            background: var(--card-hover-background);
        }

        .note-item-name {
            line-height: 24px;
            font-weight: 600;
            font-size: 24px;
            padding: 8px 8px 0px 8px;
            box-sizing: border-box;
            word-break: break-all;
        }

        .note-item-descr {
            height: 28px;
            line-height: 20px;
            font-size: 20px;
            padding: 0px 8px 8px 8px;
            box-sizing: border-box;
        }
    }
}