$point: 4px;

@mixin centering() {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin blur-backdrop() {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
@mixin blur-backdrop-disabled() {
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
}


@mixin vertical-list() {
    display: flex;
    flex-direction: column;
    position: relative;

    &:not(.x-sorter-disable-paddings) {
        > * {
            margin-bottom: $point * 2;
        }
    
        :last-child {
            margin-bottom: 0;
        }
    }
    
}

@mixin horizontal-list() {
    display: flex;
    flex-direction: row;
    position: relative;

    &:not(.x-sorter-disable-paddings) {
        > * {
            margin-right: $point * 2;
        }
        
        :last-child {
            margin-right: 0;
        }
    }
}

.webx {
    background: var(--background);
    min-height: 100%;
    box-sizing: border-box;
    font-family: 'TT Commons', Arial;
    
    .form-card {
        h1 {
            padding: 0;
        }
        p {
            padding: 0;
        }
    }

    h1 {
        font-weight: 600;
        box-sizing: border-box;
        font-size: $point * 12;
        padding: 0 $point * 2;
    }
    
    p {
        box-sizing: border-box;
        font-size: 20px;
        padding: 0 $point * 2;
    }
}